.searchForm {
  max-width: 460px;
  display: flex;
  margin: 0 auto 32px;
}

.searchForm input {
  font-size: 1em;
  width: 100%;
  background-color: #edeff0;
  padding: 10px 15px;
  border: 3px solid #d7dbdf;
  border-right: none;
  border-radius: 0.35em 0 0 0.35em;
  outline: none;
}

.searchForm button {
  outline: none;
  border: none;
  padding: 0px 15px;
  border-radius: 0 0.35em 0.35em 0;
  cursor: pointer;
}

.active {
  background-color: #051c33;
  cursor: pointer;
  color: #fff;
}

.customSearchBtn {
  background-color: #051c33 !important;
}

.searchBtnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 17px;
}

.searchBtn {
  width: 90px;
  display: block;
  background: #051c33;
  border-radius: 3px;
  padding: 5px;
  color: #fff;
  align-self: center;
  margin: 3px;
  border-radius: 6px;
}

.mainNav {
  height: 50px;
  margin: 0 20.5% 32px;
}
.mainNav li {
  width: 15%;
  float: left;
  margin-bottom: 1em;
  list-style-type: none;
  margin-right: 30px;
}

.mainNav a {
  text-decoration: none;
  display: block;
  background: #051c33;
  border-radius: 3px;
  padding: 5px;
  color: #fff;
}

.mainNav .active,
.mainNav a:hover {
  background-color: #051c33;
}
